**/figs
**/obj
**/lib
**/tmp*
*.pyc
**/dtk
**/genericio
**/output
**/old
core_fit
test_merging
**/processed_catalog
params/cfn/*
params/cfn/simet/simet*.param
params/cfn/simet_old/
dtk2
params/cfn/simet/mstar0